<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Adult_app</title>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  </head>
  <body>
  	<div class="container-fluid">
{% block main_content %}
    {% endblock %}

</div>
   

<script type="text/javascript">

var loading = $("#loading");
$(loading).hide();

$('#sex' ).on('change', function(e){
		e.preventDefault();
		var sex=$('#sex').val()
		var race=$('#race').val()
		var relationship=$('#relationship').val()
		 if (race=='Race' && relationship=='Relationship') {
		     var url=('/view?sex=+'+$.trim(sex))
		}
		
		else if(race=='Race') {
			console.log (sex + race + relationship );
		     var url=('/view?sex=+'+$.trim(sex)+'&race='+'&relationship=+'+$.trim(relationship))
		     console.log (url);
		}
		
		
		
		else if(relationship=='Relationship') {
			console.log (sex + race + relationship);
		    var url=('/view?sex=+'+$.trim(sex)+'&race=+'+$.trim(race)+'&relationship=');
		    console.log (url);
		}
		else {
		console.log (sex + race + relationship);
	    var url=('/view?sex=+'+$.trim(sex)+'&race=+'+$.trim(race)+'&relationship=+'+$.trim(relationship))
	    console.log (url);
		}
		 loading.show();
		$.ajax({
			type:'get',
			url: url,
			cache:true,
    beforeSend: function(){
        $(loading).show();
    },
    complete: function(){
        $(loading).hide();
    },
			success : function(data){
				 var jq=jQuery(data);
		         var title = jq.find(".change");
		        
		         // var description = jq.find(".modal-body");
		         $(document).find('.change').replaceWith(title);
		  }
		});
	});
	
	
	$('#race' ).on('change', function(e){
		e.preventDefault();
		var sex=$('#sex').val()
		var race=$('#race').val()
		var relationship=$('#relationship').val()
		 if ((sex=='Sex') && (relationship=='Relationship')) {
		     var url=('/view?sex='+'&race=+'+$.trim(race)+'&relationship=')
		     console.log (url);
		}
		
		else if(sex=='Sex') {
		     var url=('/view?sex='+'&race=+'+$.trim(race)+'&relationship=+'+$.trim(relationship))
		     console.log (url);
		}
		else if(relationship=='Relationship') {
		    var url=('/view?sex=+'+$.trim(sex)+'&race=+'+$.trim(race)+'&relationship=')
		    console.log (url);
		}
		
		else {
		console.log (sex + race );
	    var url=('/view?sex=+'+$.trim(sex)+'&race=+'+$.trim(race)+'&relationship=+'+$.trim(relationship))
	    console.log (url);
		}
	
		$.ajax({
			type:'get',
			url: url,
			cache:true,
    beforeSend: function(){
        $(loading).show();
    },
    complete: function(){
        $(loading).hide();
    },
			success : function(data){
				 var jq=jQuery(data);
		         var title = jq.find(".change");
		        
		         // var description = jq.find(".modal-body");
		         $(document).find('.change').replaceWith(title);
		  }
		});
	});
	
	
	$('#relationship' ).on('change', function(e){
		e.preventDefault();
		var sex=$('#sex').val()
		var race=$('#race').val()
		var relationship=$('#relationship').val()
		 if((sex=='Sex') && (race=='Race')) {
		     var url=('/view?sex='+'&race='+'&relationship=+'+$.trim(relationship))
		     console.log (url);
		}
			else if(race=='Race') {
		     var url=('/view?sex=+'+$.trim(sex)+'&race='+'&relationship=+'+$.trim(relationship))
		     console.log (url);
		}
		
		else if(sex=='Sex') {
		     var url=('/view?sex='+'&race=+'+$.trim(race)+'&relationship=+'+$.trim(relationship))
		     console.log (url);
		}
		
		else {
		console.log (sex + race );
	    var url=('/view?sex=+'+$.trim(sex)+'&race=+'+$.trim(race)+'&relationship=+'+$.trim(relationship))
	    console.log (url);
		}
	
		$.ajax({
			type:'get',
			url: url,
			cache:true,
    beforeSend: function(){
        $(loading).show();
    },
    complete: function(){
        $(loading).hide();
    },
			success : function(data){
				 var jq=jQuery(data);
		         var title = jq.find(".change");
		        
		         // var description = jq.find(".modal-body");
		         $(document).find('.change').replaceWith(title);
		  }
		});
	});
	
	$('#reload').click(function(e){
	$.ajax({
			type:'get',
			url: '/view',
			cache:true,
    beforeSend: function(){
        $(loading).show();
    },
    complete: function(){
        $(loading).hide();
    },
			success : function(data){
				 var jq=jQuery(data);
		         var title = jq.find(".change");
		        
		         // var description = jq.find(".modal-body");
		         $(document).find('.change').replaceWith(title);
		  }
		});
	});
	
	
</script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript">
    
     
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
     
      function drawChart() {
           var male = parseInt('{{male|safe}}',10);
        var female = parseInt("{{female|safe}}", 10);
        
        var data = google.visualization.arrayToDataTable([
          ['Gender', 'Population'],
          ['Males',   male],
          ['Females',    female],
          
         
        ]);
    
        var options = {
          title: 'Sex',
          pieHole: 0.4,
        };

        var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
        chart.draw(data, options);
      }
     
     
    </script>

    <script type="text/javascript">
    	         google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
      	var white = parseInt('{{white|safe}}',10);
      	var black = parseInt('{{black|safe}}',10);
      	var asian = parseInt('{{asian|safe}}',10);
      	var nri = parseInt('{{nri|safe}}',10);
      	var other = parseInt('{{other|safe}}',10);
      

        var data = google.visualization.arrayToDataTable([
          ['race', 'count'],
          ['White',     white],
          ['Black',      black],
          ['Asian-Pac-Islander',  asian],
          ['Amer-Indian-Eskimo', nri],
          ['Other',    other]
        ]);

        var options = {
          title: 'Race'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }
    	
    </script>
    
  </body>
</html>