
{% extends 'base.html' %}

{% block main_content %}

<div class='row'>
    <div class='col-md-6'>
 <div id="donutchart" style="width: 700px; height: 300px;"></div>
 </div>
 <div class='col-md-6 float-right'>
     <div id="piechart" style="width: 700px; height: 300px;"></div>
     </div>
  
  </div>
   <form action='/view'  name='sex'>
<div class='row'>
    <div class='col-md-3'>
  <select  name='sex' id='sex' class='form-control' >
     <option hidden>Sex</option>
     {% for j in sex %}
      <option value='{{j.sex}}'>{{j.sex}}</option>
       {% endfor %}
  </select>
  </div>
  <div class='col-md-3'>
    <select  name='race' id='race' class='form-control'>
      <option hidden>Race</option>
     {% for j in race %}
      <option value='{{j.race}}'>{{j.race}}</option>
       {% endfor %}
  </select>
  </div>
  <div class='col-md-3'>
  <select  name='relationship' id='relationship' class='form-control'>
      <option hidden>Relationship</option>
     {% for j in relationship %}
      <option value='{{j.relationship}}'>{{j.relationship}}</option>
       {% endfor %}
  </select>
 </div>
      <div class='col-md-3'>  <input id='reload' type="submit" class='form-control' value="Reset"/></div>
    </form>
    </div>

 <div class="row">
<div class="table-responsdive">
 <table class="table">
  <thead class="thead-dark">
    <tr>
        <th>Id</th>
              <th>Age</th>
              <th>Workclass</th>
              <th>fnlwgt</th>
              <th>education</th>
              <th>education_num</th>
              <th>Martial_status</th>
              <th>Occupation</th>
              <th>Relationship</th>
              <th>Race</th>
              <th>Sex</th>
              <th>Capital_gain</th>
              <th>Capital_loss</th>
              <th>hours_per_week</th>
              <th>native_country</th>
    </tr>
  </thead>
  <tbody class="change">
     
    <tr>
         {% if sex_filter %}
      {% for i in sex_filter %}
              <tr>
              <td>{{ i.id }}</td>
              <td>{{ i.age }}</td>
              <td>{{ i.workclass }}</td>
              <td>{{ i.fnlwgt }}</td>
              <td>{{ i.education }}</td>
              <td>{{ i.education_num }}</td>
              <td>{{ i.martial_status }}</td>
              <td>{{ i.occupation }}</td>
              <td>{{ i.relationship }}</td>
              <td>{{ i.race }}</td>
              <td>{{ i.sex }}</td>
              <td>{{ i.capital_gain }}</td>
              <td>{{ i.capital_gain }}</td>
              <td>{{ i.hours_per_week }}</td>
              <td>{{ i.native_country }}</td>
              {% endfor %}
              {% else %}
              <tr><td><h1>No data to display</h1></td></tr>

{% endif %}
    </tr>
    
</tr>


  </tbody>
</table>
</div>
</div>
<table border="1" cellpadding="10" style='display:none'>
          <thead >
              <tr>
              <th>Id</th>
              <th>Age</th>
              <th>Workclass</th>
              <th>fnlwgt</th>
              <th>education</th>
              <th>education_num</th>
              <th>Martial_Status</th>
              <th>Occupation</th>
              <th>Relationship</th>
              <th>Race</th>
              <th>Sex</th>
              <th>Capital_Gain</th>
              <th>Capital_Loss</th>
              <th>Hours_Per_Week</th>
              <th>Native_Country</th>

              </tr>
          </thead>
          <tbody class="table">
              {% for i in filter %}
              <tr>
              <td>{{ i.id }}</td>
              <td>{{ i.age }}</td>
              <td>{{ i.workclass }}</td>
              <td>{{ i.fnlwgt }}</td>
              <td>{{ i.education }}</td>
              <td>{{ i.education_num }}</td>
              <td>{{ i.martial_status }}</td>
              <td>{{ i.occupation }}</td>
              <td>{{ i.relationship }}</td>
              <td>{{ i.race }}</td>
              <td>{{ i.sex }}</td>
              <td>{{ i.capital_gain }}</td>
              <td>{{ i.capital_gain }}</td>
              <td>{{ i.hours_per_week }}</td>
              <td>{{ i.native_country }}</td>
              {% endfor %}
          </tbody>
          
       </table>
       
         


{% endblock %}

